{
  "openapi": "3.1.0",
  "info": {
    "title": "Polygon One EUDR Compliance API",
    "description": "API for integrating ERP systems with the Polygon One EUDR Compliance Platform. Allows management of Articles, Suppliers, Orders, and Due Diligence Statements (DDS).",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.polygonone.com",
      "description": "Production Server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/articles": {
      "get": {
        "summary": "List Articles",
        "description": "Retrieve a paginated list of articles. Supports filtering by article number, HS code, commodity group, article type, and EUDR relevance.",
        "operationId": "listArticles",
        "parameters": [
          {
            "name": "internalArticleNr",
            "in": "query",
            "description": "Filter by internal article number (ERP ID)",
            "schema": { "type": "string" }
          },
          {
            "name": "externalArticleNr",
            "in": "query",
            "description": "Filter by external article number",
            "schema": { "type": "string" }
          },
          {
            "name": "hsCode",
            "in": "query",
            "description": "Filter by HS code",
            "schema": { "type": "string" }
          },
          {
            "name": "commodityGroup",
            "in": "query",
            "description": "Filter by commodity group",
            "schema": { "$ref": "#/components/schemas/CommodityGroup" }
          },
          {
            "name": "articleType",
            "in": "query",
            "description": "Filter by article type",
            "schema": { "$ref": "#/components/schemas/ArticleType" }
          },
          {
            "name": "eudrRelevant",
            "in": "query",
            "description": "Filter by EUDR relevance",
            "schema": { "type": "boolean" }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "schema": { "type": "integer", "default": 100 }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip for pagination",
            "schema": { "type": "integer", "default": 0 }
          }
        ],
        "responses": {
          "200": {
            "description": "List of articles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Article" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      },
      "post": {
        "summary": "Create Article",
        "description": "Create a single article or a batch of articles. For purchase articles, a supplier must be specified (via `supplierId` or `supplierName`). Sale articles are automatically linked to your company.",
        "operationId": "createArticle",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  { "$ref": "#/components/schemas/CreateArticleInput" },
                  {
                    "type": "array",
                    "items": { "$ref": "#/components/schemas/CreateArticleInput" },
                    "description": "Batch create: array of articles"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Article created successfully (single)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "article": { "$ref": "#/components/schemas/Article" }
                  }
                }
              }
            }
          },
          "200": {
            "description": "Batch import result",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BatchImportResult" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/api/articles/{id}": {
      "get": {
        "summary": "Get Article by ID",
        "operationId": "getArticle",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Article details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Article" }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "summary": "Update Article",
        "description": "Update article fields and/or replace supplier associations.",
        "operationId": "updateArticle",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateArticleInput" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "article": { "$ref": "#/components/schemas/Article" }
                  }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "summary": "Delete Article",
        "operationId": "deleteArticle",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "success": { "type": "boolean" } }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/suppliers": {
      "get": {
        "summary": "List Suppliers",
        "description": "Retrieve all suppliers associated with your company.",
        "operationId": "listSuppliers",
        "responses": {
          "200": {
            "description": "List of suppliers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Supplier" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      },
      "post": {
        "summary": "Create Supplier",
        "description": "Create a single supplier or batch import suppliers (array).",
        "operationId": "createSupplier",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  { "$ref": "#/components/schemas/CreateSupplierInput" },
                  {
                    "type": "array",
                    "items": { "$ref": "#/components/schemas/CreateSupplierInput" },
                    "description": "Batch create: array of suppliers"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Supplier created successfully (single)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "supplier": { "$ref": "#/components/schemas/Supplier" }
                  }
                }
              }
            }
          },
          "200": {
            "description": "Batch import result",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BatchImportResult" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/api/suppliers/{id}": {
      "get": {
        "summary": "Get Supplier by ID",
        "description": "Retrieve details of a specific supplier including linked articles, plots, and compliance results.",
        "operationId": "getSupplier",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Supplier details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Supplier" }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "summary": "Update Supplier",
        "description": "Update supplier fields and/or replace article associations. Uses a nested structure with `fields` for data updates and `articleIds` for link management.",
        "operationId": "updateSupplier",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateSupplierInput" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" }
                  }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "summary": "Delete Supplier",
        "description": "Delete a supplier. This may fail if the supplier is linked to active DDS statements.",
        "operationId": "deleteSupplier",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "success": { "type": "boolean" } }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/orders": {
      "get": {
        "summary": "List Orders",
        "description": "Retrieve all orders (purchase and sale) associated with your company.",
        "operationId": "listOrders",
        "responses": {
          "200": {
            "description": "List of orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Order" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      },
      "post": {
        "summary": "Create Order",
        "description": "Create a single order or batch import orders (array). Batch imports use a flat structure with supplier/article names instead of IDs. After creation, the system automatically attempts to assign the order to a matching DDS statement if auto-assignment is enabled.",
        "operationId": "createOrder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  { "$ref": "#/components/schemas/CreateOrderInput" },
                  {
                    "type": "array",
                    "items": { "$ref": "#/components/schemas/BatchOrderInput" },
                    "description": "Batch import: flat structure, IDs resolved by name/number"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order created successfully (single)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "order": { "$ref": "#/components/schemas/Order" }
                  }
                }
              }
            }
          },
          "200": {
            "description": "Batch import result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "imported": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string", "format": "uuid" },
                          "orderNumber": { "type": "string" }
                        }
                      }
                    },
                    "failed": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "orderNumber": { "type": "string" },
                          "error": { "type": "string" }
                        }
                      }
                    },
                    "skipped": { "type": "integer" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/api/orders/{id}": {
      "get": {
        "summary": "Get Order by ID",
        "operationId": "getOrder",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Order details including lines and DDS references",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Order" }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "summary": "Update Order",
        "description": "Update order fields (orderNumber, orderDate, supplierId) and/or replace order lines. When `lines` is provided, all existing lines are replaced.",
        "operationId": "updateOrder",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateOrderInput" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "success": { "type": "boolean" } }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "summary": "Delete Order",
        "operationId": "deleteOrder",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "success": { "type": "boolean" } }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/dds-statements": {
      "get": {
        "summary": "List DDS Statements",
        "description": "Retrieve all Due Diligence Statements for your company, including article volumes, assigned orders, and submission status.",
        "operationId": "listDdsStatements",
        "responses": {
          "200": {
            "description": "List of DDS statements",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/DdsStatement" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      },
      "post": {
        "summary": "Create DDS Statement",
        "description": "Create a new Due Diligence Statement. The supplier must exist and the specified articles must be linked to that supplier. The DDS is created in `draft` status.",
        "operationId": "createDdsStatement",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateDdsInput" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "DDS statement created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string", "format": "uuid", "description": "ID of the newly created DDS statement" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/api/dds-statements/{id}": {
      "get": {
        "summary": "Get DDS Statement",
        "operationId": "getDdsStatement",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "DDS statement details including articles, volumes, and linked orders",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DdsStatement" }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "summary": "Update DDS Statement",
        "description": "Update DDS statement metadata: reference number, verification number, or type.",
        "operationId": "updateDdsStatement",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "referenceNumber": { "type": ["string", "null"], "description": "TRACES reference number" },
                  "verificationNumber": { "type": ["string", "null"], "description": "TRACES verification number" },
                  "type": { "$ref": "#/components/schemas/DdsType" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "success": { "type": "boolean" } }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "summary": "Delete DDS Statement",
        "operationId": "deleteDdsStatement",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "Deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "success": { "type": "boolean" } }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "API key generated in Settings > API Keys. Include as `Authorization: Bearer <key>`."
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request data",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" }
          }
        }
      },
      "Unauthorized": {
        "description": "Invalid or missing API key",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" }
          }
        }
      },
      "Forbidden": {
        "description": "Insufficient permissions for this resource",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" }
          }
        }
      },
      "InternalError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": { "type": "string" },
          "details": { "description": "Additional error details (e.g. validation issues)" }
        },
        "required": ["error"]
      },
      "BatchImportResult": {
        "type": "object",
        "properties": {
          "imported": {
            "type": "array",
            "items": { "type": "object" },
            "description": "Successfully imported items"
          },
          "failed": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "error": { "type": "string" }
              }
            },
            "description": "Items that failed to import"
          },
          "skipped": { "type": "integer", "description": "Number of skipped (duplicate) items" }
        }
      },
      "Address": {
        "type": "object",
        "required": ["street", "postalCode", "city"],
        "properties": {
          "street": { "type": "string" },
          "postalCode": { "type": "string" },
          "city": { "type": "string" },
          "additional": { "type": "string" },
          "validated": { "type": "boolean" },
          "latitude": { "type": "number" },
          "longitude": { "type": "number" }
        }
      },
      "Article": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "internalArticleNr": { "type": "string", "description": "Internal article number (ERP ID)" },
          "externalArticleNr": { "type": ["string", "null"] },
          "hsCode": { "type": "string", "description": "Harmonized System code" },
          "ean": { "type": ["string", "null"] },
          "shortDescription": { "type": ["string", "null"] },
          "eudrRelevant": { "type": "boolean", "description": "Automatically determined from HS code" },
          "articleType": { "$ref": "#/components/schemas/ArticleType" },
          "commodityGroup": { "$ref": "#/components/schemas/CommodityGroup" },
          "suppliers": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Supplier" }
          },
          "complianceResults": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ComplianceResult" }
          },
          "countryOfProduction": { "type": ["string", "null"] }
        }
      },
      "CreateArticleInput": {
        "type": "object",
        "required": ["name", "internalArticleNr", "hsCode"],
        "properties": {
          "name": { "type": "string", "description": "Article name" },
          "internalArticleNr": { "type": "string", "description": "Internal article number (must be unique per company)" },
          "hsCode": { "type": "string", "description": "HS code — EUDR relevance and commodity group are determined automatically" },
          "shortDescription": { "type": "string" },
          "externalArticleNr": { "type": "string" },
          "ean": { "type": "string" },
          "articleType": {
            "$ref": "#/components/schemas/ArticleType",
            "description": "Defaults to `purchase`. Sale articles are automatically linked to your company as supplier."
          },
          "supplierId": {
            "type": "string",
            "format": "uuid",
            "description": "Link to an existing supplier. Required for purchase articles if `supplierName` is not provided."
          },
          "supplierName": {
            "type": "string",
            "description": "Supplier name. Used to find or create a supplier if `supplierId` is not provided. Required for purchase articles if `supplierId` is not provided."
          },
          "supplierEmail": {
            "type": "string",
            "format": "email",
            "description": "Optional supplier contact email. Used when creating a new supplier via `supplierName`."
          }
        }
      },
      "UpdateArticleInput": {
        "type": "object",
        "properties": {
          "fields": {
            "type": "object",
            "description": "Article fields to update",
            "properties": {
              "name": { "type": "string" },
              "shortDescription": { "type": ["string", "null"] },
              "internalArticleNr": { "type": "string" },
              "externalArticleNr": { "type": ["string", "null"] },
              "ean": { "type": ["string", "null"] },
              "hsCode": { "type": "string", "description": "Changing the HS code will recalculate EUDR relevance" },
              "articleType": { "$ref": "#/components/schemas/ArticleType" }
            }
          },
          "supplierIds": {
            "type": "array",
            "description": "Replace all supplier associations with this list of supplier IDs",
            "items": { "type": "string", "format": "uuid" }
          }
        }
      },
      "Supplier": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "email": { "type": ["string", "null"] },
          "contactName": { "type": ["string", "null"] },
          "country": { "type": "string" },
          "externalSupplierId": { "type": ["string", "null"], "description": "External ID from your ERP system" },
          "address": { "$ref": "#/components/schemas/Address" },
          "status": { "$ref": "#/components/schemas/SupplierStatus" },
          "isCompanySelf": { "type": "boolean", "description": "True if this supplier represents your own company (for sale articles)" },
          "articles": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Article" }
          }
        }
      },
      "CreateSupplierInput": {
        "type": "object",
        "required": ["name", "email", "country", "address"],
        "properties": {
          "name": { "type": "string", "description": "Supplier company name" },
          "email": { "type": "string", "format": "email", "description": "Supplier contact email" },
          "country": { "type": "string", "description": "Country name (e.g. \"Germany\", \"Brazil\")" },
          "address": { "$ref": "#/components/schemas/Address" },
          "contactName": { "type": "string", "description": "Contact person name" },
          "externalSupplierId": { "type": "string", "description": "External ID from your ERP system" },
          "associatedArticles": {
            "type": "array",
            "items": { "type": "string", "format": "uuid" },
            "description": "List of existing article IDs to link to this supplier"
          }
        }
      },
      "UpdateSupplierInput": {
        "type": "object",
        "properties": {
          "fields": {
            "type": "object",
            "description": "Supplier fields to update",
            "properties": {
              "name": { "type": "string" },
              "contactName": { "type": ["string", "null"] },
              "country": { "type": "string" },
              "email": { "type": "string", "format": "email" },
              "address": { "$ref": "#/components/schemas/Address" },
              "externalSupplierId": { "type": ["string", "null"] }
            }
          },
          "articleIds": {
            "type": "array",
            "description": "Replace all article associations with this list of article IDs",
            "items": { "type": "string", "format": "uuid" }
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "orderNumber": { "type": "string" },
          "orderDate": { "type": "string", "format": "date-time" },
          "orderType": { "$ref": "#/components/schemas/OrderType" },
          "supplier": { "$ref": "#/components/schemas/Supplier" },
          "totalVolume": { "type": "number", "description": "Sum of all order line quantities" },
          "lines": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/OrderLine" }
          },
          "ddsReferences": {
            "type": "array",
            "description": "DDS statements linked to this order",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string", "format": "uuid" },
                "referenceNumber": { "type": "string" },
                "verificationNumber": { "type": "string" }
              }
            }
          }
        }
      },
      "OrderLine": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "article": { "$ref": "#/components/schemas/Article" },
          "quantity": { "type": "number" }
        }
      },
      "CreateOrderInput": {
        "type": "object",
        "required": ["supplierId", "orderNumber", "orderDate", "orderType", "lines"],
        "properties": {
          "supplierId": { "type": "string", "format": "uuid" },
          "orderNumber": { "type": "string" },
          "orderDate": { "type": "string", "format": "date-time", "description": "ISO 8601 date string" },
          "orderType": { "$ref": "#/components/schemas/OrderType" },
          "lines": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "object",
              "required": ["articleId", "quantity"],
              "properties": {
                "articleId": { "type": "string", "format": "uuid" },
                "quantity": { "type": "number", "minimum": 1 }
              }
            }
          }
        }
      },
      "UpdateOrderInput": {
        "type": "object",
        "description": "Update order fields and/or replace order lines. When `lines` is provided, all existing lines are deleted and replaced.",
        "properties": {
          "orderNumber": { "type": "string" },
          "orderDate": { "type": "string", "format": "date-time" },
          "supplierId": { "type": "string", "format": "uuid" },
          "lines": {
            "type": "array",
            "description": "Replaces all existing order lines",
            "items": {
              "type": "object",
              "required": ["articleId", "quantity"],
              "properties": {
                "articleId": { "type": "string", "format": "uuid" },
                "quantity": { "type": "number", "minimum": 1 }
              }
            }
          }
        }
      },
      "BatchOrderInput": {
        "type": "object",
        "description": "Flat structure for bulk order import. Supplier and article are resolved by name/number. Multiple rows with the same orderNumber are merged into one order with multiple lines.",
        "required": ["orderNumber", "orderDate", "supplierName", "articleNumber", "quantity"],
        "properties": {
          "orderNumber": { "type": "string" },
          "orderDate": { "type": "string", "format": "date-time" },
          "orderType": { "$ref": "#/components/schemas/OrderType" },
          "supplierName": { "type": "string", "description": "Resolved to a supplier ID by matching name" },
          "articleNumber": { "type": "string", "description": "Resolved to an article ID by matching internal article number" },
          "articleDescription": { "type": "string" },
          "quantity": { "type": "number" },
          "hsCode": { "type": "string" }
        }
      },
      "DdsStatement": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "referenceNumber": { "type": ["string", "null"], "description": "TRACES reference number (assigned after submission)" },
          "verificationNumber": { "type": ["string", "null"], "description": "TRACES verification number (assigned after validation)" },
          "status": { "$ref": "#/components/schemas/DdsStatus" },
          "type": { "$ref": "#/components/schemas/DdsType" },
          "source": { "$ref": "#/components/schemas/DdsSource" },
          "country": { "type": ["string", "null"] },
          "submittedOn": { "type": ["string", "null"], "format": "date-time" },
          "declaration": { "type": "boolean" },
          "fullName": { "type": ["string", "null"] },
          "notes": { "type": ["string", "null"] },
          "totalVolume": { "type": "number" },
          "totalAssignedVolume": { "type": "number" },
          "totalRemainingVolume": { "type": "number" },
          "errorMessage": { "type": ["string", "null"], "description": "Error message if submission failed" },
          "articles": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/DdsStatementArticle" }
          },
          "orders": {
            "type": "array",
            "description": "Orders assigned to this DDS statement",
            "items": { "$ref": "#/components/schemas/Order" }
          }
        }
      },
      "DdsStatementArticle": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "ddsStatementId": { "type": "string", "format": "uuid" },
          "supplierArticleId": { "type": "string", "format": "uuid" },
          "volume": { "type": "number" },
          "assignedVolume": { "type": "number", "description": "Volume already assigned to orders" },
          "remainingVolume": { "type": "number", "description": "Volume still available for assignment" },
          "article": { "$ref": "#/components/schemas/Article" },
          "supplier": { "$ref": "#/components/schemas/Supplier" }
        }
      },
      "CreateDdsInput": {
        "type": "object",
        "required": ["supplierId", "type", "articles"],
        "properties": {
          "supplierId": {
            "type": "string",
            "format": "uuid",
            "description": "The supplier for this DDS. All articles must be linked to this supplier."
          },
          "type": { "$ref": "#/components/schemas/DdsType" },
          "articles": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "object",
              "required": ["articleId", "amount"],
              "properties": {
                "articleId": { "type": "string", "format": "uuid" },
                "amount": {
                  "type": "number",
                  "minimum": 0,
                  "description": "Volume/quantity for this article in the DDS"
                }
              }
            }
          }
        }
      },
      "ComplianceResult": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "supplierArticleId": { "type": "string", "format": "uuid" },
          "overallStatus": { "$ref": "#/components/schemas/ComplianceStatus" },
          "geoStatus": { "$ref": "#/components/schemas/ComplianceStatus" },
          "legalStatus": { "$ref": "#/components/schemas/ComplianceStatus" },
          "generatedReportUrl": { "type": ["string", "null"] },
          "generatedAt": { "type": ["string", "null"], "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "ComplianceStatus": {
        "type": "string",
        "enum": ["compliant", "non_compliant", "unknown", "not_eudr_relevant", "pending_review"]
      },
      "ArticleType": {
        "type": "string",
        "enum": ["purchase", "sale"],
        "description": "`purchase` = inbound article from a supplier, `sale` = outbound article you sell"
      },
      "OrderType": {
        "type": "string",
        "enum": ["purchase", "sale"],
        "description": "`purchase` = inbound order from a supplier, `sale` = outbound order to a customer"
      },
      "DdsType": {
        "type": "string",
        "enum": ["import", "export", "trade", "domestic_production"],
        "description": "`import` = goods entering the EU, `export` = goods leaving the EU, `trade` = intra-EU trade, `domestic_production` = produced within the EU"
      },
      "DdsStatus": {
        "type": "string",
        "enum": [
          "draft",
          "processing",
          "submitted",
          "validated",
          "rejected",
          "under_control",
          "correction_requested",
          "deleted",
          "failed",
          "external"
        ],
        "description": "DDS lifecycle status. `draft` → `processing` → `submitted` → `validated` (success) or `rejected`/`failed` (error). `external` = imported from another system."
      },
      "DdsSource": {
        "type": "string",
        "enum": ["internal", "external"],
        "description": "`internal` = created in Polygon One, `external` = imported/linked from another system"
      },
      "SupplierStatus": {
        "type": "string",
        "enum": ["data_incomplete", "data_complete", "dds_submitted"],
        "description": "Supplier data completeness status"
      },
      "CommodityGroup": {
        "type": "string",
        "enum": [
          "cattle",
          "cocoa",
          "coffee",
          "oil_palm",
          "rubber",
          "soya",
          "wood",
          "non_relevant"
        ],
        "description": "EUDR-regulated commodity groups. `non_relevant` = article is not covered by EUDR."
      }
    }
  }
}